.text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}
.box{
    border: 14px solid mediumspringgreen ;
    background-color: mediumspringgreen;
    width: fit-content;
    border-radius: 15px;
    padding: 3%;


}
.btn-box{
    font-size: medium;
    border: 0px;
    border-radius: 20px;
    font-weight: bolder;
    padding: 10px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}